/*
 * L'effroyable fossé entre paragraphes
 * Il faut respecter aussi le gras, l'italique, la largeur des paragraphes…
 */
 strong, em {
  font-size: 16px;
}

strong {
  font-weight: 900;
}

em {
  font-style: italic;
}

#aToiDeJouer {
 display: flex;
 justify-content: space-between;
}

#aToiDeJouer div {
 width: 500px;
}

#aToiDeJouer p {
 margin: 20px 0;
}