/*
 * Le losange de la délivrance
 */
 #wrap {
   transform: rotate(45deg);
   overflow: hidden;
   width: 176px;
   height: 176px;
   margin: 100px auto 0;
   box-shadow: 0 0 20px rgba(0,0,0,0.75);
 }
 #image {
   transform: rotate(-45deg);
   margin: -37px 0 0 -37px;
 }